:root {
  min-width: 100%;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-image: url('./assets/bg4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-grow: 1;
  color: rgb(5, 40, 70);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 1em;
  margin-right: 1em;
}
button:hover {
  border-color: rgb(240, 200, 205);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.mainButton {
  border-radius: 12px;
  border: 2px solid transparent;
  padding: 1.2em 2.4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 1em;
  margin-right: 1em;
  color: slategray;
  background-color: ghostwhite;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgb(60, 60, 65);
  padding: 1em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 2em;
}

.middleNotHome {
  max-width: 1280px;
  min-height: 90vh;
  padding: 0;
  text-align: center;
  margin: auto;
  margin-bottom: 4em;
}

.navButton {
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 0.8em 1.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.4s;
  margin-left: 1em;
  margin-right: 1em;
  color: rgb(225, 175, 185);
  background-color: inherit;
}

.navButton:hover {
  border-color: rgb(125, 95, 150);
  color: rgb(240, 200, 205);
  background-color: rgb(50, 45, 55);
}

form {
  display: flex;
  flex-direction: column; /* Empilez les éléments verticalement */
  max-width: 300px; /* Largeur maximale du formulaire */
  margin: 0 auto; /* Centrez le formulaire horizontalement */
}

label,
input,
select {
  margin: 7px 0; /* Ajoutez de l'espacement entre les éléments */
}

#addButton {
  margin: 0.5em 5em 2em 5em;
}

input {
  height: 2em;
  font-size: 16px;
}

select {
  height: 2.5em;
  font-size: 16px;
  text-align: center;
}

#audioFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#audioFile + label {
  font-size: 1.25em;
  font-weight: 700;
  display: inline-block;
}

.fileButton {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 0.8em 1.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.4s;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2em;
  color: rgb(225, 175, 185);
  background-color: rgb(75, 70, 70);
}

.fileButton:hover {
  border-color: rgb(65, 60, 110);
  color: rgb(240, 200, 205);
  background-color: rgb(90, 75, 105);
}

.spaceDiv {
  margin-top: 1.5em;
}

.songList {
  background-color: rgba(230, 210, 225, 0.4);
  padding: 1em 0 1em 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: inset 0 3px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  margin: 0;
  margin-bottom: 3em;
}

.songs {
  padding: 3px;
  margin: 0;
}

.songs:hover {
  background-color: rgba(240, 200, 205, 50%);
  color: darkmagenta;
  transition: 0.25s;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.05);
}

#selectedSong {
  background-color: rgba(125, 80, 120, 0.8);
  color: rgb(240, 205, 210);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
}

.fade-transition {
  transition: background-color 0.5s ease-in-out;
}

.artistTitle {
  padding: 5px 0 5px 0;
  background-color: rgb(80, 80, 80);
  color: rgb(240, 220, 220);
  margin: 1.5em 0 0 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.artistTitle:hover {
  background-color: rgb(100, 100, 105);
  color: rgb(240, 220, 225);
  transition: 0.2s;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
}

.playerContainer {
  position: sticky;
  display: flex;
  bottom: 0;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 1em 0 1em 0;
  background-color: rgb(60, 60, 65);
  color: rgb(225, 175, 185);
}

.playerContainer button {
  background-color: rgb(245, 240, 240);
  box-shadow: inset 0 3px 20px rgba(0, 0, 0, 0.1);
}

.playerContainer button:hover {
  background-color: rgb(225, 210, 240);
  box-shadow: inset 0 3px 20px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.reactPlayer {
  display: flex;
  width: 100%;
  min-width: 30%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.currentlyPlaying {
  display: inline;
  margin: 0 1em 0 1em;
  max-width: 30%;
  min-width: 30%;
  overflow: hidden;
}

.artistList {
  background-color: rgba(230, 210, 225, 0.4);
  padding: 0em 0 1em 0;
  border-radius: 8px;
  box-shadow: inset 0 3px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  margin: auto;
  width: 40%;
}

li {
  list-style: none;
}